{% extends 'shop/base/base.html' %}
{% load shop_tags %}

{% block breadcrumb %}
    {% show_breadcrumb breadcrumb %}
{% endblock breadcrumb %}

{% block content %}

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                {% for subcategory in subcategories %}
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                            <div class="shop-img">
                            {% if subcategory.image %}
                                <img src="{{ subcategory.image.url }}" alt="{{ subcategory.name }}">
                            {% endif %}
                            </div>
                            <div class="shop-body">
                                <a href="{{ subcategory.get_absolute_url }}"><h3>{{ subcategory.name }}</h3></a>
                                <a href="{{ subcategory.get_absolute_url }}" class="cta-btn">Купить сейчас <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

{% endblock content %}