  <div
  class="layout widget-type_system_widget_v4_special_products_6"
  style="--count_special_products:8; --slide-width:200px; --slide-gap:20rem; --img-ratio:1; --img-fit:contain; --switch-img-on-hover:false; --product-desc-limit:10; --hide-description:true; --hide-compare:false; --product-info-accent:price; --product-info-align:left; --sticker-font-size:0.7rem; --slide-width-mobile:120px; --layout-wide-bg:false; --layout-mt:1vw; --layout-mb:1vw; --layout-pt:1vw; --layout-pb:1vw; --layout-content-max-width:1408px; --layout-wide-content:false; --layout-edge:false; --hide-desktop:false; --hide-mobile:false;"
  >
  <div class="layout__content">



<div class="special-products js-special-products">

  <div class="special-products__head">
    <div class="h2 special-products__title heading">Лучшие скидки</div>
    <div class="special-products__slider-controls">
      <div class="special-products__slider-arrow special-products__slider-arrow-prev js-move-slide">
        <span class="special-products__slider-arrow-icon icon-arrow-left"></span>
      </div>
      <div class="special-products__slider-arrow special-products__slider-arrow-next js-move-slide">
        <span class="special-products__slider-arrow-icon icon-arrow-right"></span>
      </div>
    </div>
  </div>
  <div
    class="splide js-special-products-slider"
    data-slide-min-width="200"
    data-slide-min-width-mobile="120"
    data-slide-gap="20"
    data-mobile-right-padding="50"
    >
    <div class="splide__track">
      <div class="splide__list">


{% for product in top_discounted_products %}

      <div class="splide__slide">
        <form
    action="/cart_items"
    method="post"
    data-product-id="234138962"
    class="product-preview  is-zero-count-shown      is-forbid-order-over-existing "
    >
    <div class="product-preview__content">
      <div class="product-preview__area-photo">
        <div class="product-preview__photo">
          <div class="img-ratio img-ratio_cover">
            <div class="img-ratio__inner">

              <a href="{{ product.get_absolute_url }}">

                <picture>
                    <img src="{{ product.photo.url }}"  alt="{{ product.name }}">
                </picture>

              </a>
            </div>
          </div>
          <div class="product-preview__available">

            В наличии

          </div>
          <div class="stickers">

            <div class="sticker sticker-sale" data-product-card-sale-value data-sticker-title="sticker-sale">
                -{{ product.discount }}%
            </div>
            <div class="sticker sticker-preorder" data-sticker-title="sticker-preorder">Предзаказ</div>
          </div>
        </div>
      </div>
      <div class="product-preview__area-title">
        <div class="product-preview__title">
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        </div>
      </div>
      <div class="product-preview__area-description">

      </div>
      <div class="product-preview__area-bottom">
        <div class="product-preview__price">


          <span class="product-preview__price-old">{{ product.price }} ₴</span>

          <span class="product-preview__price-cur">{{ product.discounted_price }} ₴</span>

        </div>
        <div class="product-preview__controls">
          <input type="hidden" name="quantity" value="1" />
          <input type="hidden" name="variant_id" value="400861203" />
          <div class="product-preview__controls-left">

            <span class="button button_size-s favorites_btn" data-ui-favorites-trigger="234138962">
              <span class="btn-icon icon-favorites-o"></span>
              <span class="btn-icon icon-favorites-f"></span>
             </span>
                <span data-compare-trigger="234138962" class="button product-preview__compare-btn">
                  <span class="button__icon icon-compare"></span>
                </span>
          </div>

            <button type="button" class="button product-preview__show-modal-variants-btn js-show-modal-product">
            <span class="button__icon icon-cart"></span>
          </button>
          <a href="{{ product.get_absolute_url }}" class="button product-preview__detail-select-btn">
            <span class="button__icon icon-eye"></span>
          </a>


        </div>
      </div>
    </div>
    </form>
      </div>


{% endfor %}

      </div>
    </div>
  </div>
</div>
  </div>
</div>