{% load shop_tags %}
<div class="product">
    <a href="{{ product.get_absolute_url }}">
        <div class="product-img">
            <img src="{{ product.photo.url }}" alt="">
            {% if product.discount %}
            <div class="product-label">
                <span class="sale">-{{ product.discount }}%</span>
            </div>
            {% endif %}
        </div>
    </a>
    <div class="product-body">
        <p class="product-category">{{ product.subcategory }}</p>
        <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
        {% if product.discounted_price %}
        <h4 class="product-price">₴{{ product.discounted_price }} <del class="product-old-price">₴{{ product.price }}</del></h4>
        {% else %}
        <h4 class="product-price">₴{{ product.price }}</h4>
        {% endif %}
        <div class="product-rating">
            {% show_stars product.rating.rating %}
        </div>
        <div class="product-btns">
            <button class="add-to-wishlist" data-id="{{ product.pk }}" data-product-url="{{ product.get_absolute_url }}"><i class="fa fa-heart-o"></i><span class="tooltipp">добавить в список желаемого</span></button>
            <button class="quick-view"><a href="{{ product.get_absolute_url }}"><i class="fa fa-eye"></i><span class="tooltipp">посмотреть</span></a></button>
        </div>
    </div>
    <div class="add-to-cart">
        <button type="submit" class="add-to-cart-btn" data-id="{{ product.pk }}" data-product-url="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i>в корзину</button>
    </div>
</div>